In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = "File.txt"
qw = pd.read_csv(filename)

In [3]:
print(qw)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [4]:
print( qw.head(3) )
print( qw.tail(4) )

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [5]:
print(qw.index)

RangeIndex(start=0, stop=12, step=1)

In [6]:
print(qw.columns)

Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

In [7]:
print(qw.dtypes)

month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

In [8]:
print(qw.values)

[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [9]:
qw.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [10]:
qw.sort_values('record_high',ascending=False)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [11]:
qw.avg_low

0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

In [12]:
qw['avg_low']

0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64

In [13]:
qw[3:6]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48
5   Jun        75       56          107          41               0.11

In [14]:
qw[['record_low','record_high']]

    record_low  record_high
0           22           74
1           26           78
2           25           84
3           28           92
4           35           98
5           41          107
6           44          105
7           43          102
8           40          103
9           34           96
10          30           84
11          21           73

In [15]:
qw.loc[:,['avg_low','avg_high']]

    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58

In [16]:
qw.loc[3:5,['avg_low','avg_high']]

   avg_low  avg_high
3       50        67
4       53        71
5       56        75

In [17]:
qw.loc[9,['avg_low','avg_high']]

avg_low     54
avg_high    73
Name: 9, dtype: object

In [18]:
qw.iloc[3:7,[0,4]]

  month  record_low
3   Apr          28
4   May          35
5   Jun          41
6   Jul          44

In [19]:
qw[qw.record_low>30]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
4   May        71       53           98          35               0.48
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03
8   Sep        77       57          103          40               0.17
9   Oct        73       54           96          34               0.81

In [21]:
qw[qw['month'].isin(['Jun','Jul'])]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00

In [22]:
qw.loc[9,['record_low']]=106

In [25]:
print( qw[9:10])

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
9   Oct        73       54           96         106               0.81

In [26]:
qw.loc[9,['record_high']]=np.nan

In [27]:
print(qw[9:10])

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
9   Oct        73       54          NaN         106               0.81

In [28]:
qw['avg_day'] = ( qw.avg_low + qw.avg_high )/2

In [29]:
print(qw.avg_day)

0     50.0
1     53.0
2     56.5
3     58.5
4     62.0
5     65.5
6     67.5
7     68.0
8     67.0
9     63.5
10    56.0
11    50.0
Name: avg_day, dtype: float64

In [32]:
qw.rename(columns = {'avg_precipitation':'avg_rain'} , inplace = True)

In [33]:
print(qw)

   month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0    Jan        58       42         74.0          22      2.95     50.0
1    Feb        61       45         78.0          26      3.02     53.0
2    Mar        65       48         84.0          25      2.34     56.5
3    Apr        67       50         92.0          28      1.02     58.5
4    May        71       53         98.0          35      0.48     62.0
5    Jun        75       56        107.0          41      0.11     65.5
6    Jul        77       58        105.0          44      0.00     67.5
7    Aug        77       59        102.0          43      0.03     68.0
8    Sep        77       57        103.0          40      0.17     67.0
9    Oct        73       54          NaN         106      0.81     63.5
10   Nov        64       48         84.0          30      1.70     56.0
11   Dec        58       42         73.0          21      2.56     50.0

In [34]:
qw.to_csv('Foo.csv')