In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [4]:
ufo.columns = ufo.columns.str.replace(' ', '_')

In [5]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [6]:
ufo.drop('Colors_Reported' , axis=1 , inplace = True)

In [7]:
ufo.columns

Index(['City', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [8]:
ufo.drop(['City','State'] , axis=1 , inplace = True)

In [9]:
ufo.columns

Index(['Shape_Reported', 'Time'], dtype='object')

In [10]:
ufo.drop([0,2] , axis=0 , inplace = True)

In [11]:
ufo.head()

  Shape_Reported             Time
1          OTHER  6/30/1930 20:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00